<form method="POST" action="/api/login">
    User Name : <input type="text" name="userName">
    <br>
    User Password : <input type="password" name="password">
    <br>
    <input type="submit" value="submit">
</form>

<form id="login-json" method="POST" action="/api/login-json">
    User Name : <input type="text" name="userName">
    <br>
    User Password : <input type="password" name="password">
    <br>
    <input type="submit" value="submit">
</form>

<script>
    $('#login-json').on('submit', function (event) {
        event.preventDefault();
        let userName = $('#login-json input[name=userName]').val();
        let password = $('#login-json input[name=password]').val();
        loginJson(userName, password)
    })

    function loginJson(userName, password) {
        $.ajax({
            type: 'POST',
            url: 'api/login-json',
            data: JSON.stringify({
                userName,
                password
            }),
            dataType: 'Json',
            contentType: 'application/json'
        })
    }
</script>